<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<% for (const value of data ){ %>
<h3><%= value.title %></h3>
<p><%= value.content %></p>
<br>
<%}%>
</body>
</html>